.content {
	margin-top: 2em;
	padding: 1em;
	font-size: 22px;
	margin-bottom: 3em;
}

.content .content-title {
	font-size: 26px;
	padding: 10px;
}

.content .production-list {
	padding-left: 15px;
	padding-right: 15px;
}

.content div .service-list-image {
	width: 40%;
}

.market {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.market-h1 {
	font-size: 30px;
}

product {
	border: 1px solid black;
	border-radius: 10px;
	margin-top: 30px;
	padding: 20px;

}

product .product-title {
	font-size: 25px;
}

.product-info {
	display: flex;
	align-items: center;
	gap: 20px;

}

.product-info .left, .right {
	width: 50%;
} 

.product-info img {
	width: 60%;
}

.product-info p {
	font-weight: 300;
}

.product-info .right {
	display: flex;
	justify-content: center;
}

.product-info .left {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: self-start;
}

.product-info .left-more-btn {

	text-decoration: none;
	padding: 10px;
	border: 1px solid black;
	background-color: none;
	
	color: black;
	font-size: 19px;
	font-weight: 500;

	border-radius: 5px;
	

}
.product-info .left-more-btn:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
