/* CHANGING BASIC FUNCTIONS */

::selection {
	background: #990000; /* Safari */
}
::-moz-selection {
	background: #990000; /* Firefox */
}

/* CHANGES FOR ALL ELEMENTS AND FULL PAGE */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

html {
	background-color: rgba(127, 127, 127, 0.15);
}


/* CHANGING BASIC ELEMENTS AND ADD NEW STYLISH TYPES */

strong {
	color: rgba(53, 125, 255, 1) !important;
}


a {
	text-decoration: none !important;
	color: rgba(197, 0, 5, 1);
	cursor: pointer;
}


/* FOR NOTIFICATIONS  */

noted {
	color: orange !important;
}

noted-in-text {
	color: rgba(43, 56, 80, 1);
}

added {
	color: rgba(115, 115, 95, 1);
}



/* CUSTOM BR INDENTATIONS  */

indentation {
	width: 100%;
	padding-right: 100%;
	border-bottom: 1px rgba(127, 127, 127, 0.7) solid;
}

br1 {
	width: 100%;
	padding: 20px;
}

/* CUSTOM LI ELEMENTS  */

.li-small-marker {
	list-style-type: none;
}

.li-small-marker::before {
    content: "•";
    font-size: 18px;
    padding-right: 10px;
}

.li-arrow-marker {
	list-style-type: none;
}

.li-arrow-marker::before {
    content: "➤";
    font-size: 20px;
    padding-right: 10px;
}


/* MAIN CONTAINER */

.container {
	width: 1100px !important;
	max-width: 100%;
	margin: 0 auto !important;
}


/* HEADER PART */

header {
	color: white;	
	background-color: #606060;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 4em;
/*	padding-left: 2em;
	padding-right: 2em;*/
}

.contacts {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

/*.menu-container {
	border: 1px red solid;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}*/

.header .menu-icon {
	font-size: 32px;
	position: relative;
}


/* FOOTER PART */

.container-footer {
	width: 900px;
	max-width: 100%;
	margin: 0 auto;
}

.container-header, .footer {
	display: flex;
 	justify-content: space-between;
	align-items: center;
/*	padding-top: 1em;
	padding-bottom: 1em;*/
	padding-left: 2em;
	padding-right: 2em;
}

.footer {
/*	position: absolute;
	left: 0;
	bottom: 0;*/
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.info .contacts {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.content {
	margin-top: 20px;
}


.container-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-phone, .footer-p, .footer-info-p {
	color: rgba(0, 0, 0, 0.5);
	font-size: 15px;
	font-weight: bold;
}

.footer-info-i {
	font-size: 16px;
}

.footer-info-soc {
	display: flex;
	justify-content: center;
	gap: 2px;
}


.footer-info-phone {
	text-align:end;
	margin-bottom: 5px;
}


.footer-info-phone p {
	color: rgba(0, 0, 0, 0.5);
	font-size: 15px;
}

.footer-info-phone-h4 {
	font-size: 16px;
	margin-bottom: 2px;
	font-weight: 500;
}


.footer-h3 {
	font-size: 28px;
}
